.App {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.App > div {
  background-color: hsl(59, 57%, 87%);
  padding: 0 1em 0 1em;
  margin: 1em;
  border-radius: 0.3em;
  cursor: pointer;
}

.App > button {
  background-color: white;
  height: 6em;
  padding: 1em;
  margin: 1em;
  border: 0.2em dotted hsl(0, 0%, 90%);
  border-radius: 0.3em;
  font-size: 1em;
  cursor: pointer;
}

.App > button::-moz-focus-inner {
    border: 0;
}
