.Recipe-view {
  width: 60%;
  height: 100%;
  float: right;
  border-left: 0.1em solid lightgray;
  box-sizing: border-box;
  font-size: 1.4em;
  text-align: left;
}

tbody tr td {
  padding: 0.4em;
}
